.diary {
  &__wrapper {
    border-radius: var(--btn-radius);
  }
  &__form {
    border: 1px solid green;
    background-color: var(--basic-white);
    border-radius: var(--btn-radius);
    min-height: 622px;
  }
  &__date {
    &__wrapper {
      h4 {
        font-size: 3.5rem;
      }
    }
    &__figure {
      @media screen and (min-width: 980px) {
        width: 20rem;
        bottom: -3rem;
        right: -3rem;
        top: auto;
      }
      width: 5rem;
      right: 0;
      top: 0;
      img {
        width: 100%;
        object-fit: contain;
        transform-style: preserve-3d;
        height: 100%;
      }
    }
  }
  &__atropos {
    :deep(.inner-wrapper) {
      border-radius: var(--btn-radius);
    }
  }
}
