.form-tabs {
  top: 1.5rem;
  height: 500px;
  width: 350px;
  max-width: 600px !important;
  max-height: 500px !important;
  background-color: transparent;
  :deep(.q-tab__label) {
    font-weight: bolder;
  }
  &__panel {
    background-color: transparent;
  }
}
